<h1></h1>
<%= link_to "< На головну", root_path, class: "back-home-button" %>
<div class="news-page">
  <h1 class="news-header">Новини</h1>

  <div class="news-block">
    <h2 class="news-title">Black Week у MasterZoo – до 50% знижки на ексклюзивні пропозиції!</h2>
    <p class="news-date">15 листопада 2024</p>
    <p>Black Week у MasterZoo – до 50% знижки на ексклюзивні пропозиції!</p>
  </div>

  <div class="news-block">
    <h2 class="news-title">Майстри грумінг-салонів MasterZoo доглядають безпритульних хвостиків</h2>
    <p class="news-date">30 жовтня 2024</p>
    <p>Майстри грумінг-салонів MasterZoo доглядають безпритульних хвостиків у Patron Pet Center.</p>
  </div>

  <div class="news-block">
    <h2 class="news-title">До дня народження: подарункові бокси для хвостатих особистостей</h2>
    <p class="news-date">20 серпня 2024</p>
    <p>MasterZoo випустив подарункові бокси для хвостатих особистостей — для вечірок і малят.</p>
  </div>

  <!-- Приклад блоку з адресою -->
  <div class="news-block">
    <h2 class="news-title">Зоомагазин у м. Київ — вул. Гната Хоткевича 1-А</h2>
    <p class="news-date">9 серпня 2024</p>
    <p>Зоомагазин пропонує широкий асортимент товарів для домашніх улюбленців.</p>
  </div>

  <!-- Додати інші блоки новин так само -->
</div>
