/* Контейнер для тексту */
.news-container {
    max-width: 800px;
    margin: 0 auto; /* Центрування сторінки */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #555;
}

/* Стилізація тексту */
.news-content {
    text-align: left;
}

.news-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.back-home-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #007BFF;
    text-decoration: none;
}

.back-home-link:hover {
    text-decoration: underline;
}

/* Стилізація списку */
.news-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

/* Контейнер для зображення */
.news-image-container {
    margin-top: 20px;
    text-align: center;
}

.news-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}
/* Загальний стиль для сторінки новин */
.news-page {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}

/* Заголовок сторінки */
.news-header {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #040405;
}

/* Окремий блок новини */
.news-block {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Заголовок новини */
.news-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

/* Дата новини */
.news-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

/* Текст новини */
.news-block p {
    margin: 0;
    line-height: 1.6;
}
